.indigo.darken-4 {
    background-color: #1a237e !important;
}
body{
    background-color: whitesmoke;
}
p{
    color: black;
    text-align: center;
    font-size: 150%;
    font-family: 'Times New Roman', Times, serif;
}
h1{
    color: black;
    text-align: center;
    font-size: 300%;
    font-family: 'Times New Roman', Times, serif;
}
h2{
    color: black;
    text-align: center;
    font-size: 200%;
    font-family: 'Times New Roman', Times, serif;
}
h3{
    color: black;
    text-align: center;
    font-size: 150%;
    font-family: 'Times New Roman', Times, serif;

}
div{
    color: black;
    align-items: center;
    text-align: center;
    font-size: 125%;
    font-family: 'Times New Roman', Times, serif;
}
#button-male{
    background-color:#1a237e;
    color: whitesmoke;
    border: 1% black;
    font-size: 125%;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}
#button-female{
    background-color:#1a237e;
    color: whitesmoke;
    border: 1% black;
    font-size: 125%;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;

}
.choice-btns{
    background-color:#1a237e;
    color: whitesmoke;
    border: 1% black;
    display: inline;
    font-size: 125%;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}
